.parentClients {
  width: 60vw;
  height: 630px;
  margin: 0 auto 0 auto;
  position: relative;
  top: 200px;
}

.clientsWrapper h1 {
  display: inline-block;
  width: 370px;
  height: 150px;
  position: relative;
  top: 145px;
}

.cardParent {
  width: 360px;
  height: 370px;
  border: 2px solid var(--gray-color);
  border-radius: 15px;
}

.swiperSlide {
  width: auto;
  border-radius: 15px;
}

.imgWrapper img {
  width: 100px;
  height: 100px;
  margin: 25px 0px 0px 20px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin: 15px;
  line-height: 24px;
}

.ceo {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
}

.content {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  opacity: 30%;
  margin: 15px;
}

.rightNavigation {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: var(--yellow-color);
  border-radius: 100%;
  position: relative;
  top: -480px;
  z-index: 10;
  right: -85%;
  cursor: pointer;
}

.rightArrow {
  margin: 40% 30%;
}

.leftNavigation {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: var(--white-color);
  border-radius: 100%;
  position: relative;
  top: -480px;
  z-index: 10;
  right: -83%;
  cursor: pointer;
}

.leftArrow {
  margin: 40% 30%;
}

@media (max-width: 600px) {
  .parentClients {
    width: 90vw;
    top: 50px;
  }
  .clientsWrapper h1 {
    font-size: 30px;
    width: 65%;
    top: 180px;
  }
  .cardParent {
    width: 320px;
  }
  .leftNavigation {
    right: -68%;
    top: -440px;
    width: 45px;
    height: 45px;
  }
  .leftArrow {
    width: 20px;
    margin: 30% 0 20% 25%;
  }
  .rightNavigation {
    right: -70%;
    top: -440px;
    width: 45px;
    height: 45px;
  }
  .rightArrow {
    width: 20px;
    margin: 30% 0 20% 25%;
  }
}

/* 
.sucessWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  /* height: 550px; 
  margin: 0 auto;
  margin-top: 180px;
  gap: 75px;
}

.sucessHeading {
  font-weight: 600;
  font-size: 54px;
  line-height: 75px;
}

.sucessCardOdd {
  width: 360px;
  height: 375px;
  border: 2px solid var(--gray-color);
  border-radius: 14px;
}

.sucessCardEven {
  width: 360px;
  height: 375px;
  border: 2px solid var(--gray-color);
  border-radius: 14px;
  background-color: var(--gray-color);
}

.imgWrapper {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  background-color: var(--white-color);
  position: relative;
  margin: 15px;
}

.imgWrapper img {
  position: absolute;
  top: 25px;
  left: 25px;
}

.sucessRate p {
  font-size: 24px;
  font-weight: 600;
  margin: 15px;
}

.sucessContent p {
  font-size: 14px;
  font-weight: 500;
  opacity: 30%;
  line-height: 20px;
  margin: 15px;
}

.readMore {
  color: var(--black-color);
  background-color: var(--yellow-color);
  font-weight: 600;
  font-size: 14px;
  width: 120px;
  height: 42px;
  border-radius: 23px;
  border: 1px solid var(--yellow-color);
  margin: 15px;
  cursor: pointer;
}

.cardParent {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 600px) {
  .sucessWrapper {
    width: 80vw;
    height: 550px;
    margin-top: 120px;
    gap: 40px;
  }
  .sucessHeading {
    font-size: 30px;
  }
}

@media (max-width: 940px) {
  .cardParent {
    width: 100vw;
    justify-content: flex-start;
    margin-left: 20px;
    gap: 15px;
  }
  .sucessCardOdd {
    width: 340px;
    height: 355px;
  }
  .sucessCardEven {
    width: 340px;
    height: 355px;
  }
}

.cardParent {
  /* display: flex; 
  width: 80vw;
  gap: 30px;
  border: 2px solid white;
  border-radius: 10px;
  margin: auto;
}

.imgWrapper {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  background-color: var(--white-color);
  position: relative;
  margin: 15px;
}

.imgWrapper img {
  position: absolute;
  top: 25px;
  left: 25px;
}

.successRate p {
  font-size: 24px;
  font-weight: 600;
  margin: 15px;
}

.successContent p {
  font-size: 14px;
  font-weight: 500;
  opacity: 30%;
  line-height: 20px;
  margin: 15px;
}

.readMore {
  color: var(--black-color);
  background-color: var(--yellow-color);
  font-weight: 600;
  font-size: 14px;
  width: 120px;
  height: 42px;
  border-radius: 23px;
  border: 1px solid var(--yellow-color);
  margin: 15px;
  cursor: pointer;
} */
